<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Building Test Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/intro.css">
</head>
<body>
<div th:insert="${header}">header</div>

<div class="main-content">
  <form action="/api/admin/building/edit" method="post">
    <div>oldName:
      <input type="text" th:value="${name}" name="oldName" readonly="readonly">
    </div>
    <div>name:
      <input type="text" th:value="${name}" name="name">
    </div>
    <div>introduction:
      <input type="text" th:value="${introduction}" name="introduction">
    </div>
    <div>group:
      <input type="text" th:value="${group}" name="group">
    </div>
    <input type="submit">
  </form>
</div>
<script>
  const buildingName = document.getElementById("name1").innerText;
  let xhr = new XMLHttpRequest();
  xhr.open("get", "/api/building/introduction?name=" + buildingName, false);
  xhr.send();
  const buildingIntroduction = xhr.responseText;
  document.getElementById("introduction1").innerText = buildingIntroduction;
</script>
</body>
</html>