<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Building Test Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/intro.css">
</head>
<body>
<div th:insert="${header}">header</div>

<div class="main-content" th:each="groupPair:${buildingByGroup}">
  <div th:text="${groupPair.getKey()}">group</div>
  <div th:each="building:${groupPair.value}">
    <a th:href="@{'/page/admin/building'(name=${building.getBuildingName()})}"
       th:text="${building.getBuildingName()}"></a>
  </div>
</div>

</body>
</html>