<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Building Test Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<div class="header">
  <table  style="width: 100%;">
    <tr>
      <th style="width: 10em;">Sustech Campus</th>
      <th></th>
      <th style="width: 4em;"><a href="/page/building">建筑</a></th>
      <th style="width: 4em;"><a href="/page/res">预订</a></th>
      <th style="width: 4em;"><a href="/page/login">登录</a></th>
      <th style="width: 4em;"><a href="/page/register">注册</a></th>
    </tr>
  </table>
</div>
<form method="get">
  <p>buildingName: <input type="text" name="buildingName"/></p>
  <button type="submit">view</button>
</form>
<h1 id="buildingName" th:text="${buildingName}">buildingName</h1>
<h2 id="buildingIntroduction">buildingIntroduction</h2>
<script>
  const buildingName = document.getElementById("buildingName").innerText;
  let xhr = new XMLHttpRequest();
  xhr.open("get", "/api/building/introduction?name=" + buildingName, false);
  xhr.send()
  const buildingIntroduction = xhr.responseText;
  document.getElementById("buildingIntroduction").innerText = buildingIntroduction;
</script>
</body>
</html>