<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Building Test Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/intro.css">
</head>
<body>
<div th:insert="${header}">header</div>

<div class="main-content" th:each="building:${buildingGroup}">
  <section class="restaurant-section">
    <h2 th:text="${building.getBuildingName()}">buildingName</h2>
    <div class="section-content">
      <img
          src="https://raw.githubusercontent.com/aplacalike9050/CS309/main/%E9%A4%90%E5%8E%85%E8%B6%85%E5%B8%82/%E8%A5%BF%E9%A4%90%E5%8E%85.png"
          alt="Restaurant 1 Image" class="section-image">
      <div class="section-description" th:text="${building.getDetailedInfo()}">
        buildingIntroduction
      </div>
      <div class="section-comments">西餐厅的评论区</div>
    </div>
    <hr>
  </section>
</div>
<script>
  const buildingName = document.getElementById("name1").innerText;
  let xhr = new XMLHttpRequest();
  xhr.open("get", "/api/building/introduction?name=" + buildingName, false);
  xhr.send();
  const buildingIntroduction = xhr.responseText;
  document.getElementById("introduction1").innerText = buildingIntroduction;
</script>
</body>
</html>