<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Building Test Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/intro.css">
</head>
<body>
<div th:insert="${header}">header</div>

<div class="main-content">
  <section id="section1" class="restaurant-section">
    <h2 th:text="${name}">buildingName</h2>
    <div class="section-content">
      <img th:src="${picturePath}" alt="Restaurant 1 Image" class="section-image">
      <div class="section-description" th:text="${introduction}">buildingIntroduction</div>
    </div>
    <div><a th:href="@{page/reservation?building=${name}}">预约>></a></div>
    <hr>
  </section>
  <div th:each="item:${commentList}">
    <section class="restaurant-section">
      <div class="section-content">
        <img th:src="${item.getPicturePath()}" alt="Comment Image" class="section-image">
        <div class="section-description" th:text="${item.getCommentContent()}">commentContent</div>
        <div class="section-description" th:text="${item.getCommentTime()}">commentTime</div>
        <div class="section-description" th:text="${item.getCid()}">userId</div>
      </div>
      <hr>
    </section>
  </div>
</div>
<script>
  const buildingName = document.getElementById("name1").innerText;
  let xhr = new XMLHttpRequest();
  xhr.open("get", "/api/building/introduction?name=" + buildingName, false);
  xhr.send();
  const buildingIntroduction = xhr.responseText;
  document.getElementById("introduction1").innerText = buildingIntroduction;
</script>
</body>
</html>