<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Building Test Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<form method="get">
  <p>buildingName: <input type="text" name="buildingName"/></p>
  <button type="submit">view</button>
</form>
<h1 id="buildingName" th:text="${buildingName}">buildingName</h1>
<h2>CommentTable</h2>
<table id="commentTable">
  <tr>
    <th>uid</th>
    <th>content</th>
    <th>time</th>
  </tr>
</table>
<script>
  const commentTable = document.getElementById("commentTable");
  const buildingName = document.getElementById("buildingName").innerText;
  let xhr = new XMLHttpRequest();
  //alert("/api/building/comment?name=" + buildingName);
  xhr.open("get", "/api/building/comment?name=" + buildingName, false);
  xhr.send()
  const commentList = xhr.responseText;
  //alert(commentList.substring(2, commentList.length - 2));
  for (let i of commentList.substring(2, commentList.length - 2).split('},{')) {
    commentData = i.split("\",\"");
    const uid = commentData[1].split("\":\"")[1];
    const commentContent = commentData[3].split("\":\"")[1];
    //alert(commentContent);
    const commentTime = commentData[4].split("\":\"")[1];
    let newRowContent = "<td>" + uid + "</td>\n" +
        "<td>" + commentContent + "</td>\n" +
        "<td>" + commentTime + "</td>\n";
    let newRow = document.createElement("tr");
    newRow.innerHTML = newRowContent;
    commentTable.appendChild(newRow);
  }
</script>
</body>
</html>