<div class="header">
  <img src="https://www.sustech.edu.cn/uploads/images/2023/11/08101045_45163.jpg" alt="Large Image" class="header-image">
</div>
<nav class="topnav">
  <a href="/page/index">主页</a>
  <a href="/page/buildingGroup?name=教学楼区">教学楼区</a>
  <a href="/page/buildingGroup?name=餐厅超市">餐厅超市</a>
  <a href="/page/buildingGroup?name=宿舍楼区">宿舍楼区</a>
  <a href="/page/buildingGroup?name=体育场地">体育场地</a>
  <a href="/page/buildingGroup?name=科研楼区">科研楼区</a>
  <a href="/page/buildingGroup?name=图书馆区">图书馆区</a>
  <a href="/page/buildingGroup?name=其他建筑">其他建筑</a>
</nav>